html {
  background-color: #e8eddf;
}

.header {
  border-bottom: 3px solid #38A700;
  background-color: #242423;
  position: sticky;
  top:0;
  z-index: 4;
}

.brand {
  padding-left: 10%; 
  font-size: 3rem;
  margin-right: 10%;
}

.home-image {
  width: 100%;
}

.home-article {

  padding-bottom: 2%;
}

.home-last-bets {
  padding-top: 5%;
  text-align: center;
  padding-bottom: 2%;
}

.home-join-us-h {
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5%;
  
}

.home-join-us-a {
  text-decoration: none;
  color: #242423;
  text-align: center;
  padding: 15px;
  border: 4px solid #38A700;
}

.bets-buttons-container {
  text-align: center;
  padding-top: 4%;
  padding-bottom: 10%;
}

.new-bet-btn {
  margin-right: 10%;
}

.cards-container {
  padding: 5%;
}

.bet-detail-container {
  padding: 3%;
  text-align: center;
}

.details-btn-container {
  margin-left: 1%;
}